body {
  width: 100vw;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Ubuntu";
  overflow-x: hidden; }

.button-style {
  background-color: #248ed9;
  padding: 0.75rem;
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out; }
  .button-style:hover {
    cursor: pointer;
    color: #248ed9;
    background-color: black; }

.header-style {
  font-size: 2rem;
  font-family: "Ubuntu";
  background: linear-gradient(to top right, #248ed9, #046fbb);
  width: max-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

::-webkit-scrollbar {
  width: 0.75rem; }

::-webkit-scrollbar-track {
  background: white; }

::-webkit-scrollbar-thumb {
  background: #248ed9;
  border-radius: 15px; }

::-webkit-scrollbar-thumb:hover {
  background: #046fbb; }

.footer {
  display: flex;
  flex-direction: column;
  height: 17.5rem;
  background-image: url("../../img/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.2rem; }
    .footer-container-media {
      display: flex;
      flex-direction: row; }
      .footer-container-media > div > ul {
        list-style-type: none; }
        .footer-container-media > div > ul > li > i {
          margin-right: 0.5rem; }
        .footer-container-media > div > ul > li > a {
          color: white;
          text-decoration: none; }
          .footer-container-media > div > ul > li > a > i {
            margin-right: 0.5rem; }
    .footer-container-copy {
      margin-right: 1rem;
      display: flex;
      flex-direction: column; }

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10000;
  pointer-events: none; }
  nav .menu-container {
    pointer-events: auto;
    clip-path: circle(0% at 100% 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.46);
    z-index: 100000;
    transition: clip-path .5s ease-in-out; }
    nav .menu-container-close {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: end;
      font-size: 1.5rem;
      pointer-events: auto; }
      nav .menu-container-close > i {
        margin: 1rem; }
      nav .menu-container-close:hover {
        cursor: pointer; }
    nav .menu-container-btns {
      pointer-events: all;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      nav .menu-container-btns-btn {
        font-size: 1.5rem;
        margin: 0.5rem 0rem;
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: start; }
        nav .menu-container-btns-btn-link {
          margin: 0.5rem 0rem; }
          nav .menu-container-btns-btn-link > a {
            text-decoration: none;
            color: black; }
            nav .menu-container-btns-btn-link > a:hover {
              cursor: pointer; }
  nav .LogoContainer {
    padding: 0.5rem;
    width: 15rem;
    height: 5rem;
    background-color: white;
    border-radius: 0px 0px 15px 0px;
    pointer-events: auto; }
  nav .Menu {
    display: flex; }
    nav .Menu-Button {
      border-radius: 0px 0px 0px 15px;
      pointer-events: auto; }
      nav .Menu-Button:hover {
        cursor: pointer; }
    nav .Menu-blog {
      border-radius: 0px 0px 15px 15px; }
      nav .Menu-blog:hover {
        cursor: pointer; }
    nav .Menu-account {
      border-radius: 0px 0px 15px 15px; }
      nav .Menu-account:hover {
        cursor: pointer; }
    nav .Menu > div {
      margin: 0rem 0rem 0rem 0.75rem;
      padding: 0.5rem;
      background-color: white;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      pointer-events: auto; }

.AccountNav {
  width: 100%;
  height: 10vh;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  position: relative;
  z-index: 10000; }
  .AccountNav-logo {
    width: 12rem;
    height: 5rem;
    margin-left: 1rem; }
  .AccountNav-btns {
    display: flex; }
    .AccountNav-btns > div {
      margin: 0rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem; }
      .AccountNav-btns > div:hover {
        cursor: pointer; }
    .AccountNav-btns-photo {
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid blue;
      width: 5rem;
      height: 5rem; }
      .AccountNav-btns-photo > img {
        width: 100%;
        height: 100%; }

.items {
  width: 100vw; }
  .items-filter {
    width: 100%; }
    .items-filter-form {
      display: flex;
      justify-content: center; }
      .items-filter-form-selection {
        width: 15rem;
        font-size: 1rem;
        padding: 0rem 0.5rem;
        border-radius: 15px; }
      .items-filter-form-label {
        margin: 0rem 1rem;
        font-family: "Open Sans";
        font-size: 1.2rem; }
  .items-headerdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .items-container {
    width: 100%;
    text-align: center; }
    .items-container-item {
      width: 20rem;
      height: 35rem;
      margin: 1rem;
      background-color: white;
      display: inline-block;
      color: black; }
      .items-container-item:hover {
        cursor: pointer; }
        .items-container-item:hover .items-container-item-rotate {
          transform: rotateY(180deg); }
      .items-container-item-rotate {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d; }
        .items-container-item-rotate-front {
          overflow: hidden;
          box-shadow: 0.5rem 0.25rem 1.5rem rgba(0, 0, 0, 0.5);
          border-radius: 15px;
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: white;
          z-index: 1000; }
          .items-container-item-rotate-front-title {
            position: absolute;
            top: 35%;
            width: 20rem;
            padding: 0.5rem;
            clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%); }
            .items-container-item-rotate-front-title > h2 {
              font-size: 1.2rem;
              font-family: "Ubuntu";
              font-weight: 500; }
          .items-container-item-rotate-front-desc {
            margin-top: 4rem;
            padding: 0rem 1rem;
            text-align: justify; }
          .items-container-item-rotate-front-image {
            width: 100%;
            height: 40%; }
            .items-container-item-rotate-front-image > img {
              width: 100%;
              height: 100%; }
          .items-container-item-rotate-front-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.5rem;
            font-size: 1.2rem;
            background-color: white;
            width: 100%; }
        .items-container-item-rotate-back {
          position: absolute;
          overflow: hidden;
          border-radius: 15px;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          box-shadow: 0.5rem 0.25rem 1.5rem rgba(0, 0, 0, 0.5);
          background-color: white;
          transform: rotateY(180deg);
          z-index: 500; }
          .items-container-item-rotate-back-contact {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .items-container-item-rotate-back-contact-method {
              margin: 0.5rem 0rem; }
              .items-container-item-rotate-back-contact-method > i {
                margin-right: 0.5rem; }
            .items-container-item-rotate-back-contact-header {
              font-size: 1.2rem;
              font-weight: 400;
              margin-bottom: 1rem; }
          .items-container-item-rotate-back-content {
            padding: 0rem 1rem;
            text-align: justify;
            font-size: 0.9rem; }
          .items-container-item-rotate-back-photo {
            width: 100%;
            height: 40%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            .items-container-item-rotate-back-photo-username {
              margin-top: 0.75rem;
              font-size: 1.2rem;
              font-weight: 400; }
            .items-container-item-rotate-back-photo-container {
              width: 8rem;
              height: 8rem;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              border: 5px solid #248ed9; }
              .items-container-item-rotate-back-photo-container > img {
                position: relative;
                top: 0;
                left: 0;
                width: 8rem; }

.other-background {
  background: linear-gradient(to top right, #ffe57f, #ffbb00); }

.other-path {
  clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%); }

.cars-background {
  background: linear-gradient(to top right, #e22d2d, #ac0000); }

.cars-path {
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); }

.crypto-background {
  background: linear-gradient(to top right, #45e936, #149708); }

.crypto-path {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); }

.soft-background {
  background: linear-gradient(to top right, #36a7e9, #0573b3); }

.soft-path {
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); }

.electronic-background {
  background: linear-gradient(to top right, #95d8ff, #5bc3ff); }

.electronic-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }

.meal-background {
  background: linear-gradient(to top right, #ff7eee, #f300d3); }

.meal-path {
  width: 19rem;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); }

.clothes-background {
  background: linear-gradient(to top right, #d07eff, #9114da); }

.clothes-path {
  width: 19rem;
  clip-path: ellipse(50% 50% at 50% 50%); }

.agd-background {
  background: linear-gradient(to top right, #ffc56e, #ff9900); }

.agd-path {
  width: 19rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.UserApp {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 90vh;
  background-color: white;
  z-index: 500; }
  .UserApp-container {
    width: 85vw;
    height: 90vh;
    overflow-y: scroll; }
    .UserApp-container-cards {
      width: 100%;
      height: auto;
      text-align: center;
      padding-top: 3rem;
      display: grid;
      min-height: 90vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem; }
      .UserApp-container-cards-card {
        height: 90%;
        border-radius: 15px; }
        .UserApp-container-cards-card:first-child {
          margin-left: 2rem; }
        .UserApp-container-cards-card:last-child {
          margin-right: 2rem; }
        .UserApp-container-cards-card-icon {
          margin: 4rem 0rem;
          font-size: 4rem; }
        .UserApp-container-cards-card-header {
          margin: .5rem;
          font-size: 1.2rem; }
        .UserApp-container-cards-card-list {
          margin: 1rem 0rem;
          font-size: 1.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .UserApp-container-cards-card-list > ul {
            list-style-type: none;
            padding: 0rem;
            width: 80%; }
            .UserApp-container-cards-card-list > ul > li {
              margin: 2rem 0rem;
              padding-top: 2rem;
              font-size: 1.5rem; }
              .UserApp-container-cards-card-list > ul > li > i {
                margin-right: .5rem; }
              .UserApp-container-cards-card-list > ul > li:not(:first-child) {
                border-top: 1px solid black; }
        .UserApp-container-cards-card-button {
          margin: 3rem 0rem; }
          .UserApp-container-cards-card-button > button {
            padding: 1.2rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 15px;
            background: linear-gradient(to top, #00b600, #3acf3a);
            color: white; }
            .UserApp-container-cards-card-button > button:hover {
              cursor: pointer; }
    .UserApp-container-profile-form-h1 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .UserApp-container-profile-form-h1 > h1 {
        font-weight: 600;
        background: linear-gradient(to top right, #9d00f8, #37b6ff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; }
    .UserApp-container-profile-form-h2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .UserApp-container-profile-form-h2 > h2 {
        font-weight: 400;
        background: linear-gradient(to top right, #9d00f8, #37b6ff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; }
    .UserApp-container-profile-form-photo {
      display: flex;
      align-items: center;
      justify-content: center; }
      .UserApp-container-profile-form-photo-box {
        border-radius: 100rem;
        overflow: hidden;
        border: 5px solid blue;
        position: relative; }
        .UserApp-container-profile-form-photo-box:hover .UserApp-container-profile-form-photo-box-edit {
          opacity: 1; }
        .UserApp-container-profile-form-photo-box > img {
          width: 40rem; }
        .UserApp-container-profile-form-photo-box-edit {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #00497485;
          z-index: 100;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: all .5s ease-in-out; }
          .UserApp-container-profile-form-photo-box-edit > button {
            width: 5rem;
            height: 5rem;
            font-size: 2rem;
            margin: 1rem;
            border: none;
            border-radius: 50%;
            background: #0062a8;
            color: white; }
    .UserApp-container-profile-form-desc {
      width: 100%; }
      .UserApp-container-profile-form-desc > textarea {
        width: 100%;
        font-size: 2rem;
        font-family: 'Ubuntu';
        resize: none; }
    .UserApp-container-profile-form-contact {
      display: flex;
      flex-direction: column; }
      .UserApp-container-profile-form-contact > label {
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 2rem; }
      .UserApp-container-profile-form-contact > input {
        padding: .75rem;
        border: none;
        border-bottom: 2px solid green;
        outline: none;
        font-size: 1.2rem; }
        .UserApp-container-profile-form-contact > input:focus {
          border-bottom: 3px solid red; }
    .UserApp-container-profile-form-submit {
      margin: 5rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .UserApp-container-profile-form-submit > button {
        background: linear-gradient(to top right, #36a7e9, #0573b3);
        border: none;
        padding: 1rem;
        border-radius: 15px;
        font-size: 2rem;
        font-family: 'Ubuntu';
        color: white; }
        .UserApp-container-profile-form-submit > button:hover {
          background: #004974; }
    .UserApp-container-announcements {
      margin-top: 2rem;
      width: 100%;
      height: auto;
      text-align: center; }
      .UserApp-container-announcements-item {
        display: inline-block;
        background-color: white;
        margin: 2rem 1.25rem;
        width: 27.5rem;
        height: 45rem;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.603); }
        .UserApp-container-announcements-item:hover .UserApp-container-announcements-item-options {
          opacity: 1; }
        .UserApp-container-announcements-item-image {
          width: 100%;
          height: 17.5rem;
          background-color: #149708; }
          .UserApp-container-announcements-item-image > img {
            width: 100%;
            height: 100%; }
        .UserApp-container-announcements-item-title > h1 {
          width: 100%;
          padding: 1rem;
          font-size: 2rem;
          margin: 0rem; }
        .UserApp-container-announcements-item-desc > p {
          text-align: justify;
          padding: 0rem .5rem; }
        .UserApp-container-announcements-item-footer {
          position: absolute;
          width: 27.5rem;
          height: auto;
          bottom: 0;
          left: 0; }
        .UserApp-container-announcements-item-options {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #00497485;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all .5s ease-in-out; }
          .UserApp-container-announcements-item-options > button {
            margin: 1rem 0rem;
            width: 7.5rem;
            height: 7.5rem;
            background-color: #36a7e9;
            border: none;
            border-radius: 50rem;
            color: white;
            transition: all .5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center; }
            .UserApp-container-announcements-item-options > button:hover {
              color: black; }
            .UserApp-container-announcements-item-options > button > i {
              font-size: 3rem; }
    .UserApp-container-payments {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .UserApp-container-payments-payment {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 2rem;
        height: auto;
        background-color: #0062a8;
        border-radius: 15px;
        border: 2px solid black;
        color: white;
        font-size: 1.5rem;
        align-items: center;
        margin: 1rem 0rem; }
        .UserApp-container-payments-payment-remove {
          font-size: 3rem; }
    .UserApp-container-changePassword-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .UserApp-container-changePassword-header > h1 {
        background: linear-gradient(to top right, #9d00f8, #37b6ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .UserApp-container-changePassword > form {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .UserApp-container-changePassword > form > label {
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 2rem; }
      .UserApp-container-changePassword > form > button {
        justify-self: center;
        align-self: center;
        margin-top: 2rem;
        padding: 1rem;
        width: 15rem;
        background: linear-gradient(to top right, #9d00f8, #37b6ff);
        border: none;
        border-radius: 15px;
        font-size: 2rem;
        color: white; }
        .UserApp-container-changePassword > form > button:hover {
          background: #004974; }
      .UserApp-container-changePassword > form > div {
        width: 100%; }
        .UserApp-container-changePassword > form > div > input {
          width: 100%;
          padding: .5rem;
          border: none;
          outline: none;
          border-bottom: 2px solid green; }
          .UserApp-container-changePassword > form > div > input:focus {
            border-bottom: 3px solid red; }
    .UserApp-container-cart {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative; }
      .UserApp-container-cart-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .UserApp-container-cart-header > h1 {
          background: linear-gradient(to top right, #9d00f8, #37b6ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      .UserApp-container-cart-items {
        height: 90%; }
        .UserApp-container-cart-items-box {
          height: 50rem;
          border-bottom: 2px solid black;
          border-top: 2px solid black;
          overflow-y: scroll; }
          .UserApp-container-cart-items-box-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black; }
            .UserApp-container-cart-items-box-item-total {
              display: flex;
              align-items: center;
              justify-content: center; }
              .UserApp-container-cart-items-box-item-total > span {
                margin: 0rem 2rem;
                font-size: 2rem; }
              .UserApp-container-cart-items-box-item-total > h2 {
                font-size: 2rem; }
            .UserApp-container-cart-items-box-item-months {
              font-size: 2rem; }
              .UserApp-container-cart-items-box-item-months > input {
                border: none;
                outline: none;
                width: 7.5rem;
                border-bottom: 2px solid green; }
                .UserApp-container-cart-items-box-item-months > input:focus {
                  border-bottom: 3px solid red; }
            .UserApp-container-cart-items-box-item-desc {
              width: auto;
              display: flex; }
              .UserApp-container-cart-items-box-item-desc-name {
                margin-left: 2rem; }
                .UserApp-container-cart-items-box-item-desc-name > h1 {
                  font-size: 3rem; }
                .UserApp-container-cart-items-box-item-desc-name > button {
                  border: none;
                  background: none;
                  text-decoration: underline;
                  color: red;
                  font-size: 1.5rem; }
                  .UserApp-container-cart-items-box-item-desc-name > button:hover {
                    cursor: pointer; }
              .UserApp-container-cart-items-box-item-desc-image {
                width: 10rem;
                height: 10rem; }
                .UserApp-container-cart-items-box-item-desc-image > img {
                  width: 100%;
                  height: 100%; }
        .UserApp-container-cart-items-btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .UserApp-container-cart-items-btn > button {
            margin: 1rem;
            padding: 1rem;
            border: none;
            background-color: #4bbdff;
            font-size: 2rem;
            border-radius: 15px;
            transition: all .5s ease-in-out; }
            .UserApp-container-cart-items-btn > button > i {
              margin-left: 1rem; }
            .UserApp-container-cart-items-btn > button:hover {
              background-color: #004974;
              color: white; }
      .UserApp-container-cart-payment {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white; }
  .UserApp-menu {
    width: 15vw;
    background: linear-gradient(to top right, #36a7e9, #0573b3);
    height: 100%;
    min-height: 90vh;
    border-right: 8px solid #004974; }
    .UserApp-menu > ul {
      margin-top: 2rem;
      list-style-type: none;
      padding: 0; }
      .UserApp-menu > ul > li {
        padding: 1rem;
        margin: 0rem 0rem;
        color: white;
        font-weight: 500;
        position: relative;
        font-size: 1.8rem; }
        .UserApp-menu > ul > li:hover {
          cursor: pointer; }
          .UserApp-menu > ul > li:hover::before {
            width: 100%; }
          .UserApp-menu > ul > li:hover::after {
            width: 100%; }
        .UserApp-menu > ul > li::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          content: "";
          background-color: white;
          height: .25rem;
          transition: all .5s ease-in-out; }
        .UserApp-menu > ul > li::after {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0%;
          content: "";
          background-color: white;
          height: .25rem;
          transition: all .5s ease-in-out; }
        .UserApp-menu > ul > li > i {
          margin-right: .5rem; }

.CardFree {
  background: linear-gradient(to top right, #94ff63, #ffc011); }

.CardStandard {
  background: linear-gradient(to top right, #9d00f8, #37b6ff); }

.CardPremium {
  background: linear-gradient(to top right, #0052bd, #db2b2b); }

.loginPage {
  background-color: #5bc3ff;
  background-image: url("./../../img/login/loginBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .loginPage-container {
    width: 50rem;
    height: 35rem;
    border-radius: 15px;
    overflow: hidden; }
    .loginPage-container-loginform {
      display: flex;
      background-color: white; }
      .loginPage-container-loginform-image {
        height: 35rem;
        width: 25rem;
        background-color: white;
        position: relative; }
        .loginPage-container-loginform-image-loginimage {
          position: absolute;
          top: 0rem;
          left: 0;
          width: 100%;
          height: 35rem;
          transition: all .5s ease-in-out; }
        .loginPage-container-loginform-image-registerimage {
          position: absolute;
          top: 35rem;
          left: 25rem;
          width: 100%;
          height: 35rem;
          z-index: 100;
          transition: all .5s ease-in-out; }
      .loginPage-container-loginform-form {
        width: 25rem;
        position: relative; }
        .loginPage-container-loginform-form-login {
          position: absolute;
          width: 25rem;
          height: 35rem;
          top: 0rem;
          left: 0rem;
          transition: all .5s ease-in-out; }
          .loginPage-container-loginform-form-login > form {
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column; }
            .loginPage-container-loginform-form-login > form > label {
              font-size: 1.2rem;
              font-family: "Ubuntu"; }
              .loginPage-container-loginform-form-login > form > label:not(:first-child) {
                margin-top: 1.2rem; }
            .loginPage-container-loginform-form-login > form > input {
              margin: .5rem 0rem;
              padding: .5rem;
              border: none;
              border-bottom: 2px solid #1876ac;
              font-family: "Open Sans"; }
              .loginPage-container-loginform-form-login > form > input:focus {
                outline: none;
                border-bottom: 2px solid red; }
            .loginPage-container-loginform-form-login > form > button {
              width: 10rem;
              position: relative;
              left: 50%;
              top: 0;
              transform: translate(-50%, 0%);
              padding: .5rem;
              margin: 1rem 0rem;
              border-radius: 15px;
              border: none;
              background: linear-gradient(to top right, #008cff, #00c3ff);
              color: white;
              font-size: 1rem;
              transition: all .5s ease-in-out; }
              .loginPage-container-loginform-form-login > form > button:hover {
                cursor: pointer;
                background: linear-gradient(to top right, #0060af, #007599); }
          .loginPage-container-loginform-form-login-noaccount {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            display: flex;
            flex-direction: column; }
            .loginPage-container-loginform-form-login-noaccount > span {
              font-size: .9rem; }
            .loginPage-container-loginform-form-login-noaccount > button {
              font-size: .9rem;
              background: none;
              border: none;
              text-decoration: underline;
              color: #248ed9; }
              .loginPage-container-loginform-form-login-noaccount > button:hover {
                cursor: pointer;
                color: #0062a8; }
              .loginPage-container-loginform-form-login-noaccount > button > i {
                margin: 0rem .5rem; }
          .loginPage-container-loginform-form-login-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
          .loginPage-container-loginform-form-login-ico {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center; }
            .loginPage-container-loginform-form-login-ico > i {
              margin: 2rem 0rem 1rem 0rem;
              font-size: 4rem;
              background-color: #1876ac;
              padding: 1rem;
              border-radius: 50%;
              color: white; }
        .loginPage-container-loginform-form-register {
          position: relative;
          top: -35rem;
          left: -25rem;
          width: 25rem;
          height: 35rem;
          transition: all .5s ease-in-out; }
          .loginPage-container-loginform-form-register > form {
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column;
            transition: all .5s ease-in-out; }
            .loginPage-container-loginform-form-register > form > label {
              font-size: 1.2rem;
              font-family: "Ubuntu"; }
              .loginPage-container-loginform-form-register > form > label:not(:first-child) {
                margin-top: 1rem; }
            .loginPage-container-loginform-form-register > form > input {
              margin: .25rem 0rem;
              padding: .25rem;
              border: none;
              border-bottom: 2px solid #1876ac;
              font-family: "Open Sans"; }
              .loginPage-container-loginform-form-register > form > input:focus {
                outline: none;
                border-bottom: 2px solid red; }
            .loginPage-container-loginform-form-register > form > button {
              width: 10rem;
              position: relative;
              left: 50%;
              top: 0;
              transform: translate(-50%, 0%);
              padding: .5rem;
              margin: 1rem 0rem;
              border-radius: 15px;
              border: none;
              background: linear-gradient(to top right, #008cff, #00c3ff);
              color: white;
              font-size: 1rem;
              transition: all .5s ease-in-out; }
              .loginPage-container-loginform-form-register > form > button:hover {
                cursor: pointer;
                background: linear-gradient(to top right, #0060af, #007599); }
          .loginPage-container-loginform-form-register-noaccount {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            display: flex;
            flex-direction: column; }
            .loginPage-container-loginform-form-register-noaccount > span {
              font-size: .9rem; }
            .loginPage-container-loginform-form-register-noaccount > button {
              font-size: .9rem;
              background: none;
              border: none;
              text-decoration: underline;
              color: #248ed9; }
              .loginPage-container-loginform-form-register-noaccount > button:hover {
                cursor: pointer;
                color: #0062a8; }
              .loginPage-container-loginform-form-register-noaccount > button > i {
                margin: 0rem .5rem; }
          .loginPage-container-loginform-form-register-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
          .loginPage-container-loginform-form-register-ico {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center; }
            .loginPage-container-loginform-form-register-ico > i {
              margin: 1.5rem 0rem .5rem 0rem;
              font-size: 4rem;
              background-color: #1876ac;
              padding: 1.25rem 1rem;
              border-radius: 50%;
              color: white; }

.LoginDangerEmail {
  color: red;
  font-size: .75rem;
  display: none; }
  .LoginDangerEmail > i {
    margin-right: .5rem; }

.LoginDangerPassword {
  color: red;
  font-size: .75rem;
  display: none; }
  .LoginDangerPassword > i {
    margin-right: .5rem; }

.LoginSuccessEmail {
  color: #19d400;
  font-size: .75rem;
  display: none; }
  .LoginSuccessEmail > i {
    margin-right: .5rem; }

.LoginSuccessPassword {
  color: #19d400;
  font-size: .75rem; }
  .LoginSuccessPassword > i {
    margin-right: .5rem; }

.RegisterDangerEmail {
  color: red;
  font-size: .75rem;
  display: none; }
  .RegisterDangerEmail > i {
    margin-right: .5rem; }

.RegisterDangerEmailExists {
  color: red;
  font-size: .75rem;
  display: none; }
  .RegisterDangerEmailExists > i {
    margin-right: .5rem; }

.RegisterSuccessEmail {
  color: #19d400;
  font-size: .75rem;
  display: none; }
  .RegisterSuccessEmail > i {
    margin-right: .5rem; }

.RegisterSuccessPassword {
  color: #19d400;
  font-size: .75rem;
  display: none; }
  .RegisterSuccessPassword > i {
    margin-right: .5rem; }

.RegisterSuccessPasswordBoth {
  color: #19d400;
  font-size: .75rem;
  display: none; }
  .RegisterSuccessPasswordBoth > i {
    margin-right: .5rem; }

.RegisterDangerPasswordBoth {
  color: red;
  font-size: .75rem;
  display: none; }
  .RegisterDangerPasswordBoth > i {
    margin-right: .5rem; }

.RegisterDangerPassword {
  color: red;
  font-size: .75rem;
  display: none; }
  .RegisterDangerPassword > i {
    margin-right: .5rem; }

.head {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative; }
  .head .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #248ed9; }
    .head .left-htop {
      margin-right: 2.5rem;
      margin-bottom: 0.5rem; }
    .head .left-hbottom {
      margin-top: 0rem;
      margin-left: 4rem; }
  .head .right {
    width: 60%; }
    .head .right-back {
      justify-self: center;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(0%, -50%);
      width: 20rem;
      z-index: 20; }
      .head .right-back > img {
        width: 100%; }
    .head .right-top {
      position: relative;
      justify-self: center;
      width: 80%;
      top: 50%;
      left: 60%;
      transform: translate(-60%, -50%); }
      .head .right-top > img {
        width: 100%; }
  .head .Circle1 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%); }
  .head .Circle2 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%); }
