body {
  width: 100vw;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Ubuntu";
  overflow-x: hidden;
}

.button-style {
  background-color: #248ed9;
  padding: 0.75rem;
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    color: #248ed9;
    background-color: black;
  }
}

.header-style {
  font-size: 2rem;
  font-family: "Ubuntu";
  background: linear-gradient(to top right, #248ed9, #046fbb);
  width: max-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #248ed9;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #046fbb;
}
