nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10000;
  pointer-events: none;
  .menu-container {
    pointer-events: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.46);
    z-index: 100000;
    &-close {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: end;
      font-size: 1.5rem;
      pointer-events: all;

      & > i {
        margin: 1rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
    &-btns {
      pointer-events: all;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-btn {
        font-size: 1.5rem;
        margin: 0.5rem 0rem;
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        &-link {
          margin: 0.5rem 0rem;
          & > a {
            text-decoration: none;
            color: black;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .LogoContainer {
    padding: 0.5rem;
    width: 15rem;
    height: 5rem;
    background-color: white;
    border-radius: 0px 0px 15px 0px;
    pointer-events: auto;
  }
  .Menu {
    display: flex;
    &-Button {
      border-radius: 0px 0px 0px 15px;
      pointer-events: auto;

      &:hover {
        cursor: pointer;
      }
    }
    &-blog {
      border-radius: 0px 0px 15px 15px;

      &:hover {
        cursor: pointer;
      }
    }
    &-account {
      border-radius: 0px 0px 15px 15px;

      &:hover {
        cursor: pointer;
      }
    }
    & > div {
      margin: 0rem 0rem 0rem 0.75rem;
      padding: 0.5rem;
      background-color: rgb(255, 255, 255);
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      pointer-events: auto;
    }
  }
}
