nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10000;
  pointer-events: none;
  .LogoContainer {
    padding: 0.5rem;
    width: 15rem;
    height: 5rem;
    background-color: white;
    border-radius: 0px 0px 15px 0px;
    pointer-events: auto;
  }
  .MenuButton {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 0px 0px 0px 15px;
    pointer-events: auto;

    &:hover {
      cursor: pointer;
    }
  }
}
