.items {
  width: 100vw;

  &-filter {
    width: 100%;
    &-form {
      display: flex;
      justify-content: center;

      @include mediaQuery(tablet900) {
        flex-direction: column;
        align-items: center;

        margin: .5rem 0rem;

        & > input {
          width: 90%;
        }
      }

      &-selection {
        width: 15rem;
        font-size: 1rem;
        padding: 0rem 0.5rem;
        border-radius: 15px;
        @include mediaQuery(tablet900) {
          width: 90%;
        }
      }

      &-label {
        margin: 0rem 1rem;
        font-family: "Open Sans";
        font-size: 1.2rem;
      }
    }
  }

  &-headerdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    width: 100%;
    text-align: center;

    &-item {
      width: 20rem;
      height: 35rem;
      margin: 1rem;
      background-color: white;
      display: inline-block;
      color: black;

      &:hover {
        cursor: pointer;
        .items-container-item-rotate {
          transform: rotateY(180deg);
        }
      }

      &-rotate {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;

        &-front {
          overflow: hidden;
          box-shadow: 0.5rem 0.25rem 1.5rem rgba(0, 0, 0, 0.5);
          border-radius: 15px;
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: white;
          z-index: 1000;
          &-title {
            position: absolute;
            top: 35%;
            width: 20rem;
            padding: 0.5rem;
            clip-path: polygon(
              50% 0,
              100% 20%,
              100% 80%,
              50% 100%,
              0 80%,
              0 20%
            );
            & > h2 {
              font-size: 1.2rem;
              font-family: "Ubuntu";
              font-weight: 500;
            }
          }

          &-desc {
            margin-top: 4rem;
            padding: 0rem 1rem;
            text-align: justify;
          }

          &-image {
            width: 100%;
            height: 40%;
            & > img {
              width: 100%;
              height: 100%;
            }
          }
          &-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.5rem;
            font-size: 1.2rem;
            background-color: white;
            width: 100%;
          }
        }

        &-back {
          position: absolute;
          overflow: hidden;
          border-radius: 15px;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          box-shadow: 0.5rem 0.25rem 1.5rem rgba(0, 0, 0, 0.5);
          background-color: rgb(255, 255, 255);
          transform: rotateY(180deg);
          z-index: 500;

          &-contact {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-method {
              margin: 0.5rem 0rem;

              & > i {
                margin-right: 0.5rem;
              }
            }

            &-header {
              font-size: 1.2rem;
              font-weight: 400;
              margin-bottom: 1rem;
            }
          }

          &-content {
            padding: 0rem 1rem;
            text-align: justify;
            font-size: 0.9rem;
          }

          &-photo {
            width: 100%;
            height: 40%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-username {
              margin-top: 0.75rem;
              font-size: 1.2rem;
              font-weight: 400;
            }

            &-container {
              width: 8rem;
              height: 8rem;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              border: 5px solid #248ed9;

              & > img {
                position: relative;
                top: 0;
                left: 0;
                width: 8rem;
              }
            }
          }
        }
      }
    }
  }
}

.other-background {
  background: linear-gradient(to top right, #ffe57f, #ffbb00);
}
.other-path {
  clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
}
.cars-background {
  background: linear-gradient(to top right, #e22d2d, #ac0000);
}
.cars-path {
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.crypto-background {
  background: linear-gradient(to top right, #45e936, #149708);
}
.crypto-path {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
.soft-background {
  background: linear-gradient(to top right, #36a7e9, #0573b3);
}
.soft-path {
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.electronic-background {
  background: linear-gradient(to top right, #95d8ff, #5bc3ff);
}
.electronic-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.meal-background {
  background: linear-gradient(to top right, #ff7eee, #f300d3);
}
.meal-path {
  width: 19rem;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.clothes-background {
  background: linear-gradient(to top right, #d07eff, #9114da);
}
.clothes-path {
  width: 19rem;
  clip-path: ellipse(50% 50% at 50% 50%);
}
.agd-background {
  background: linear-gradient(to top right, #ffc56e, #ff9900);
}
.agd-path {
  width: 19rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.UserApp {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 90vh;
  background-color: white;
  z-index: 500;

  &-container {
    width: 85vw;
    height: 90vh;
    overflow-y: scroll;

    @include mediaQuery(desktop1100) {
      width: 100vw;
    }

    &-form {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-header {
        font-size: 4rem;

        @include mediaQuery(phone600) {
          font-size: 3rem;
        }
      }

      & > form {
        width: 90%;
        display: flex;
        flex-direction: column;

        @include mediaQuery(phone600) {
          width: 100%;
        }

        & > label {
          margin: 2rem 0rem 1rem 0rem;
          font-size: 2rem;
        }

        & > input {
          border: none;
          outline: none;
          border-bottom: 2px solid green;
          padding: 1rem;

          &:focus {
            border-bottom: 3px solid red;
          }
        }

        & > button {
          margin: 1rem;
          align-self: center;
          margin: 2rem;
          width: 15rem;
          padding: 1rem;
          border: none;
          border-radius: 15px;
          background: #248ed9;
          color: white;
          transition: all .5s ease-out;

          &:hover {
            background: #004974;
          }
        }
      }
    }
    &-edit {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-images {
        text-align: center;

        &-image {
          width: 20rem;
          height: 20rem;
          display: inline-block;
          position: relative;
          transition: all .5s ease-in-out;
          margin: .5rem;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);

            .UserApp-container-edit-images-image-del {
              opacity: 1;
            }
          }

          &-del {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            background-color: #00497488;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s ease-in-out;
            @include mediaQuery(phone600) {
              opacity: 1;
            }

            & > i {
              background-color: white;
              padding: 2rem;
              font-size: 3rem;
              border-radius: 50%;
            }
          }

          & > img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &-header {
        font-size: 4rem;
        @include mediaQuery(phone600) {
          font-size: 3rem;
        }
      }

      & > form {
        width: 90%;
        display: flex;
        flex-direction: column;

        @include mediaQuery(phone600) {
          width: 100%;
        }

        & > img {
          align-self: center;
          width: 50%;
        }

        & > label {
          margin: 2rem 0rem 1rem 0rem;
          font-size: 2rem;
        }

        & > input {
          border: none;
          outline: none;
          border-bottom: 2px solid green;
          padding: 1rem;

          &:focus {
            border-bottom: 3px solid red;
          }
        }

        & > button {
          margin: 1rem;
          align-self: center;
          margin: 2rem;
          width: 15rem;
          padding: 1rem;
          border: none;
          border-radius: 15px;
          background: #248ed9;
          color: white;
          transition: all .5s ease-out;

          &:hover {
            background: #004974;
          }
        }
      }
    }

    &-chat {
      width: 100%;
      height: 100%;
      display: flex;

      @include mediaQuery(tablet1000) {
        flex-direction: column-reverse;
      }
      &-messages {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mediaQuery(tablet1000) {
          width: 100%;
          border-top: 2px solid black;
        }

        &-window {
          height: 50rem;
          width: 90%;
          display: flex;
          flex-direction: column-reverse;
          // justify-content: end;
          padding: 1rem;
          overflow-y: scroll;

          &-mesto {
            background-color: #248ed9;
            padding: 1rem;
            width: max-content;
            align-self: start;
            color: white;
            border-radius: 15px 15px 15px 0px;
            font-size: 1.75rem;
            max-width: 30rem;
            margin: .5rem 0rem;
          }
          &-mesfrom {
            background-color: #9c9c9c;
            padding: 1rem;
            width: max-content;
            align-self: end;
            color: white;
            border-radius: 15px 15px 0px 15px;
            font-size: 1.75rem;
            max-width: 30rem;
            margin: .5rem 0rem;
          }
        }
        &-form {
          border-top: 1px solid black;
          height: 20%;
          width: 100%;

          & > form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            & > textarea {
              width: 80%;
              height: 80%;
              resize: none;
              border-radius: 15px;
            }

            & > button {
              margin-left: 1rem;
              font-size: 2rem;
              background: none;
              border: none;
              color:rgb(0, 140, 255);

              & > i {
                margin-right: .5rem;
              }
            }
          }
        }
      }
      &-friends {
        width: 20%;
        border-left: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        @include mediaQuery(tablet1000) {
          width: 100%;
        }
        &-friend {
          width: 95%;
          border-top: 1px solid rgba(0, 0, 0, 0.5);
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          margin: .15rem 0rem;
          &:first-child {
            margin-top: .5rem;
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.15);
          }

          display: flex;
          justify-content: space-between;
          align-items: center;

          &-person {
            display: flex;
            padding: 0rem .5rem;
            &-img {
              margin: .5rem 0rem;
              width: 5rem;
              height: 5rem;
              border-radius: 25rem;
              overflow: hidden;
              border: 3px solid red;
              display: flex;
              align-items: center;
              justify-content: center;
            
              &>img {
                width: 110%;
                height: 110%;
              }
            }

            .PersonActive {
              border: 3px solid green;
            }

            &-desc {
              margin-left: .5rem;
              display: flex;
              align-items: left;
              justify-content: center;
              flex-direction: column;
              &>h1 {
                padding: 0;
                margin: 0;
                font-size: 2rem;
              }
            
              &>h2 {
                padding: 0;
                margin: 0;
                font-size: 1rem;
              }
            }
          }

          &-block {
            color: red;
            border: none;
            background: none;
            & > i {
              margin-right: .25rem;
            }

            &:hover {
              cursor: pointer;
              color: rgb(158, 0, 0);
            }
          }
        }
      }
    }

    &-cards {
      width: 100%;
      height: auto;
      text-align: center;
      padding-top: 3rem;
      display: grid;
      min-height: 90vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;

      @include mediaQuery(desktop1100) {
        grid-template-columns: 1fr 1.25fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      @include mediaQuery(tablet1000) {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      @include mediaQuery(tablet800) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      @include mediaQuery(phone500) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }

      &-card {
        &:first-child {
          margin-left: 2rem;
        }
        &:last-child {
          margin-right: 2rem;
        }

        @include mediaQuery(desktop1100) {
          margin-left: 2rem;
          margin-right: 2rem;
          grid-column: 2;
          height: max-content;
        }
        @include mediaQuery(phone500) {
          grid-column: 1;
        }
        height: 90%;
        border-radius: 15px;

        &-icon {
          margin: 4rem 0rem;
          font-size: 4rem;
        }
        &-header {
          margin: .5rem;
          font-size: 1.2rem;
        }
        &-list {
          margin: 1rem 0rem;
          font-size: 1.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & > ul {
            list-style-type: none;
            padding: 0rem;
            width: 80%;
            & > li {
              margin: 2rem 0rem;
              padding-top: 2rem;
              font-size: 1.5rem;
              @include mediaQuery(desktop1100) {
                margin: 1rem 0rem;
              }

              & > i {
                margin-right: .5rem;
              }

              &:not(:first-child) {
                border-top: 1px solid black;
              }
            }
          }
        }
        &-button {
          margin: 3rem 0rem;
          & > a {
            padding: 1.2rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 15px;
            background: linear-gradient(to top, rgb(0, 182, 0), rgb(58, 207, 58));
            color: white;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }

    &-profile {
      &-form {

        &-h1 {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          & > h1 {
            font-weight: 600;
            background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            @include mediaQuery(phone500) {
              font-size: 3rem;
            }

          }
        }
        &-h2 {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          & > h2 {
            font-weight: 400;
            background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            @include mediaQuery(phone500) {
              font-size: 2rem;
            }

          }
        }
        &-photo {
          display: flex;
          align-items: center;
          justify-content: center;

          &-box {
            border-radius: 100rem;
            overflow: hidden;
            border: 5px solid blue;
            position: relative;

            @include mediaQuery(tablet1000) {
              .UserApp-container-profile-form-photo-box-edit {
                opacity: 1;
              }
            }

            &:hover {
              .UserApp-container-profile-form-photo-box-edit {
                opacity: 1;
              }
            }
            &>img {
              width: 40rem;
              @include mediaQuery(phone500) {
                width: 20rem;
              }
            }
            &-edit {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: #00497485;
              z-index: 100;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              opacity: 0;
              transition: all .5s ease-in-out;

              & > button {
                width: 5rem;
                height: 5rem;
                font-size: 2rem;
                margin: 1rem;
                border: none;
                border-radius: 50%;
                background: #0062a8;
                color: white;
              }
            }
          }
        }
        &-desc {
          width: 100%;
        
          &>textarea {
            width: 100%;
            font-size: 2rem;
            font-family: 'Ubuntu';
            resize: none;
            @include mediaQuery(phone500) {
              font-size: 1.5rem;
            }
          }
        }
        &-contact {
          display: flex;
          flex-direction: column;

          & > label { 
            margin-left: 2rem;
            margin-top: 2rem;
            font-size: 2rem;
          }

          & > input {
            padding: .75rem;
            border: none;
            border-bottom: 2px solid green;
            outline: none;
            font-size: 1.2rem;

            &:focus {
              border-bottom: 3px solid red;
            }
          }
        }
        &-submit {
          margin: 5rem 0rem;
          display: flex;
          align-items: center;
          justify-content: center;
          & > button {
            background: linear-gradient(to top right, #36a7e9, #0573b3);
            border: none;
            padding: 1rem;
            border-radius: 15px;
            font-size: 2rem;
            font-family: 'Ubuntu';
            color: white;

            &:hover {
              background: #004974;
            }
          }
        }
      }

    }

    &-announcements {
      margin-top: 2rem;
      width: 100%;
      height: auto;
      text-align: center;

      &-item {
        display: inline-block;
        background-color: white;
        margin: 2rem 1.25rem;
        width: 27.5rem;
        height: 45rem;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.603);

        @include mediaQuery(tablet1000) {
          .UserApp-container-announcements-item-options {
            opacity: 1;
          }
        }

        &:hover {
          .UserApp-container-announcements-item-options {
            opacity: 1;
          }
        }

        &-image {
          width: 100%;
          height: 17.5rem;
          background-color: #149708;
          & > img {
            width: 100%;
            height: 100%;
          }
        }
        &-title {

          & > h1 {
            width: 100%;
            padding: 1rem;
            font-size: 2rem;
            margin: 0rem;
          }
        }
        &-desc {
          & > p {
            text-align: justify;
            padding: 0rem .5rem;
          }
        }
        &-footer {
          position: absolute;
          width: 27.5rem;
          height: auto;
          bottom: 0;
          left: 0;
        }
        &-options {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #00497485;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all .5s ease-in-out;
          & > button {
            margin: 1rem 0rem;
            width: 7.5rem;
            height: 7.5rem;
            background-color: #36a7e9;
            border: none;
            border-radius: 50rem;
            color: white;
            transition: all .5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              color: black;
            }
            & > i {
              font-size: 3rem;
            }
          }
          & > a {
            margin: 1rem 0rem;
            width: 7.5rem;
            height: 7.5rem;
            background-color: #36a7e9;
            border: none;
            border-radius: 50rem;
            color: white;
            transition: all .5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              color: black;
            }
            & > i {
              font-size: 3rem;
            }
          }
        }
      }
    }

    &-payments {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-payment {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 2rem;
        height: auto;
        background-color: #0062a8;
        border-radius: 15px;
        border: 2px solid black;
        color: white;
        font-size: 1.5rem;
        align-items: center;
        margin: 1rem 0rem;

        &-remove {
          font-size: 3rem;
        }
      }
    }

    &-changePassword {
      &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & > h1 {
          background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @include mediaQuery(phone500) {
            font-size: 2.5rem;
          }
        }
      }

      & > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        & > label {
          margin-top: 2rem;
          margin-left: 2rem;
          font-size: 2rem;
        }

        & > button {
          justify-self: center;
          align-self: center;
          margin-top: 2rem;
          padding: 1rem;
          width: 15rem;
          background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
          border: none;
          border-radius: 15px;
          font-size: 2rem;
          color: white;

          &:hover {
            background: #004974;
          }
        }

        & > div {
          width: 100%;
          & > input {
            width: 100%;
            padding: .5rem;
            border: none;
            outline: none;
            border-bottom: 2px solid green;
          
            &:focus {
              border-bottom: 3px solid red;
            }
          }
        }
      }
    }

    &-cart {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & > h1 {
          background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &-items {
        height: 90%;
        &-box {
          height: 50rem;
          border-bottom: 2px solid black;
          border-top: 2px solid black;
          overflow-y: scroll;
          &-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            &-total {
              display: flex;
              align-items: center;
              justify-content: center;
              & > span {
                margin: 0rem 2rem;
                font-size: 2rem;
                @include mediaQuery(phone700) {
                  font-size: 1rem;
                }
              }

              & > h2 {
                font-size: 2rem;
                @include mediaQuery(phone700) {
                  font-size: 1rem;
                }
              }
            }
            &-months {
              font-size: 2rem;
              @include mediaQuery(phone700) {
                font-size: 1rem;
              }

              &>input {
                border: none;
                outline: none;
                width: 7.5rem;
                border-bottom: 2px solid green;
                @include mediaQuery(phone700) {
                  width: 5rem;
                }

                &:focus {
                  border-bottom: 3px solid red;
                }
              }
            }
            &-desc {
              width: auto;
              display: flex;

              &-name {
                margin-left: 2rem;
                & > h1 {
                  font-size: 3rem;
                  @include mediaQuery(phone700) {
                    font-size: 2rem;
                  }
                  @include mediaQuery(phone500) {
                    font-size: 1rem;
                  }
                }

                & > button {
                  border: none;
                  background: none;
                  text-decoration: underline;
                  color: red;
                  font-size: 1.5rem;

                  @include mediaQuery(phone700) {
                    font-size: 1rem;
                  }

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
              &-image {
                width: 10rem;
                height: 10rem;
                @include mediaQuery(phone700) {
                  width: 7.5rem;
                  height: 7.5rem;
                }
              
                &>img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }

        &-btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
           & > button {
             margin: 1rem;
             padding: 1rem;
             border: none;
             background-color: #4bbdff;
             font-size: 2rem;
             border-radius: 15px;
             transition: all .5s ease-in-out;

             & > i {
               margin-left: 1rem;
             }

             &:hover {
               background-color: #004974;
               color: white;
             }
           }
        }
      }

      &-payment {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        clip-path: circle(0.0% at 0 0);
        background-color: white;
        transition: all .5s ease-in-out;
        &-free {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: none;

          & > h1 {
            background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include mediaQuery(phone500) {
              font-size: 2rem;
              text-align: center;
            }
          }
          & > h2 {
            background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include mediaQuery(phone500) {
              font-size: 1rem;
            }
          }

          & > button {
            margin: 1rem;
            padding: 1rem;
            font-size: 2rem;
            border: none;
            background-color: #4bbdff;
            font-size: 2rem;
            border-radius: 15px;
            transition: all .5s ease-in-out;
            
            &>i {
              margin-left: 1rem;
            }
            
            &:hover {
              background-color: #004974;
              color: white;
            }
          }
        }
        &-paid {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include mediaQuery(phone500) {
              font-size: 2rem;
              text-align: center;
            }
          }
          &-data {
            @include mediaQuery(phone500) {
              text-align: center;
            }
            & > h2 {
              font-size: 2.5rem;
              background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              @include mediaQuery(phone500) {
                font-size: 1.5rem;
                text-align: center;
              }
            }

            & > h3 {
              font-size: 2rem;
              @include mediaQuery(phone500) {
                font-size: 1.5rem;
                text-align: left;
              }
            }

            &>button {
              margin: 1rem;
              padding: 1rem;
              font-size: 2rem;
              border: none;
              background-color: #4bbdff;
              font-size: 2rem;
              border-radius: 15px;
              transition: all .5s ease-in-out;
            
              &>i {
                margin-left: 1rem;
              }
            
              &:hover {
                background-color: #004974;
                color: white;
              }
            }
          }

          &-back {
            &>button {
              margin: 1rem;
              padding: 1rem;
              font-size: 2rem;
              border: none;
              background-color: #4bbdff;
              font-size: 2rem;
              border-radius: 15px;
              transition: all .5s ease-in-out;
            
              &>i {
                margin-right: 1rem;
              }
            
              &:hover {
                background-color: #004974;
                color: white;
              }
            }
          }

        }
      }
    }



  }
  &-menu {
    width: 15vw;
    background: linear-gradient(to top right, #36a7e9, #0573b3);
    height: 100%;
    min-height: 90vh;
    border-right: 8px solid #004974;
    max-width: 100%;

    @include mediaQuery(desktop1100) {
      max-width: 30%;
      border-right: none;
      overflow: hidden;
      position: absolute;
      width: 0%;
      max-height: 90vh;
      z-index: 1000;
    }
    @include mediaQuery(tablet900) {
      max-width: 50%;
    }
    @include mediaQuery(phone500) {
      max-width: 100%;
    }

    & > ul {
      margin-top: 2rem;
      list-style-type: none;
      padding: 0;
      & > li {
        padding: 1rem;
        margin: 0rem 0rem;
        color: white;
        font-weight: 500;
        position: relative;
        font-size: 1.8rem;

        & > a {
          color: white;
          text-decoration: none;

          &>i {
            margin-right: .5rem;
          }
        }

        &:hover {
          cursor: pointer;
          &::before {
            width: 100%;
          }
          
          &::after {
            width: 100%;
          }
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          content: "";
          background-color: white;
          height: .25rem;
          transition: all .5s ease-in-out;
        }
        &::after {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0%;
          content: "";
          background-color: white;
          height: .25rem;
          transition: all .5s ease-in-out;
        }

      }
    }
  }
}


.CardFree {
  background: linear-gradient(to top right, rgb(148, 255, 99), rgb(255, 192, 17));
}
.CardStandard {
  background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
}
.CardPremium {
  background: linear-gradient(to top right, rgb(0, 82, 189), rgb(219, 43, 43));
}

.LoginMsgDanger {
  background-color: red;
}
.LoginMsgSuccess {
  background-color: green;
}

.loginPage {
  background-color: #5bc3ff;
  background-image: url('../img/login/loginBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  &-container {
    width: 50rem;
    height: 35rem;
    border-radius: 15px;
    overflow: hidden;

    @include mediaQuery(tablet900) {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }

    &-loginform {
      display: flex;
      background-color: white;
      @include mediaQuery(tablet900) {
        width: 100%;
        height: 100%;
      }
      &-image {
        height: 35rem;
        width: 25rem;
        background-color: white;
        position: relative;
        @include mediaQuery(tablet900) {
          width: 0%;
          height: 0%;
        }
        &-loginimage {
          position: absolute;
          top: 0rem;
          left: 0;
          width: 100%;
          height: 35rem;
          transition: all .5s ease-in-out;
          @include mediaQuery(tablet900) {
            display: none;
          }
        }
        &-registerimage {
          position: absolute;
          top: 35rem;
          left: 25rem;
          width: 100%;
          height: 35rem;
          z-index: 100;
          transition: all .5s ease-in-out;
          @include mediaQuery(tablet900) {
            display: none;
          }
        }
      }

      &-form {
        width: 25rem;
        position: relative;

        @include mediaQuery(tablet900) {
          width: 100%;
        }

        &-login {
          position: absolute;
          width: 25rem;
          height: 35rem;
          top: 0rem;
          left: 0rem;
          transition: all .5s ease-in-out;
          @include mediaQuery(tablet900) {
            width: 100%;
            height: 100%;
          }
          // background-color: #004974;
          & > form {
          padding: 0rem 1rem;
          display: flex;
          flex-direction: column;

          & > label {
            font-size: 1.2rem;
            font-family: "Ubuntu";

            &:not(:first-child) {
              margin-top: 1.2rem;
            }
          }

          & > input {
            margin: .5rem 0rem;
            padding: .5rem;
            border: none;
            border-bottom: 2px solid #1876ac;
            font-family: "Open Sans";

            &:focus {
              outline: none;
              border-bottom: 2px solid red;
            }
          }

          & > button {
            width: 10rem;
            position: relative;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0%);
            padding: .5rem;
            margin: 1rem 0rem;
            border-radius: 15px;
            border: none;
            background: linear-gradient(to top right, rgb(0, 140, 255), rgb(0, 195, 255));
            color: white;
            font-size: 1rem;
            transition: all .5s ease-in-out;

            &:hover {
              cursor: pointer;
              background: linear-gradient(to top right, rgb(0, 96, 175), rgb(0, 117, 153));
            }
          }
        }

        &-noaccount {
          position: absolute;
          bottom: 2rem;
          right: 2rem;
          display: flex;
          flex-direction: column;
          & > span {
            font-size: .9rem;
          }
          & > button {
            font-size: .9rem;
            background: none;
            border: none;
            text-decoration: underline;
            color: #248ed9;

            &:hover {
              cursor: pointer;
              color: #0062a8;
            }

            & > i {
              margin: 0rem .5rem;
            }
          }
        }

        &-header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-ico {
          width: 100%;
          height: max-content;
          display: flex;
          align-items: center;
          justify-content: center;

          & > i {
            margin: 2rem 0rem 1rem 0rem;
            font-size: 4rem;
            background-color: #1876ac;
            padding: 1rem;
            border-radius: 50%;
            color: white;

          }
        }
        }
        &-register {
          position: relative;
          top: -100%;
          left: -25rem;
          width: 25rem;
          height: 35rem;
          transition: all .5s ease-in-out;
          @include mediaQuery(tablet900) {
            left: 0;
            width: 100%;
            height: 100%;
          }
          & > form {
          padding: 0rem 1rem;
          display: flex;
          flex-direction: column;
          transition: all .5s ease-in-out;

          & > label {
            font-size: 1.2rem;
            font-family: "Ubuntu";

            &:not(:first-child) {
              margin-top: 1rem;
            }
          }

          & > input {
            margin: .25rem 0rem;
            padding: .25rem;
            border: none;
            border-bottom: 2px solid #1876ac;
            font-family: "Open Sans";

            &:focus {
              outline: none;
              border-bottom: 2px solid red;
            }
          }

          & > button {
            width: 10rem;
            position: relative;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0%);
            padding: .5rem;
            margin: 1rem 0rem;
            border-radius: 15px;
            border: none;
            background: linear-gradient(to top right, rgb(0, 140, 255), rgb(0, 195, 255));
            color: white;
            font-size: 1rem;
            transition: all .5s ease-in-out;

            &:hover {
              cursor: pointer;
              background: linear-gradient(to top right, rgb(0, 96, 175), rgb(0, 117, 153));
            }
          }
        }

        &-noaccount {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          display: flex;
          flex-direction: column;
          & > span {
            font-size: .9rem;
          }
          & > button {
            font-size: .9rem;
            background: none;
            border: none;
            text-decoration: underline;
            color: #248ed9;

            &:hover {
              cursor: pointer;
              color: #0062a8;
            }

            & > i {
              margin: 0rem .5rem;
            }
          }
        }

        &-header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-ico {
          width: 100%;
          height: max-content;
          display: flex;
          align-items: center;
          justify-content: center;

          & > i {
            margin: 1.5rem 0rem .5rem 0rem;
            font-size: 4rem;
            background-color: #1876ac;
            padding: 1.25rem 1rem;
            border-radius: 50%;
            color: white;

          }
        }
        }
      }
    }



  }
}

.LoginDangerEmail {
  color: red;
  font-size: .75rem;
  display: none;
  & > i {
    margin-right: .5rem;
  }
}
.LoginDangerPassword {
    color: red;
    font-size: .75rem;
    display: none;
    &>i {
      margin-right: .5rem;
    }
}
.LoginSuccessEmail {
  color: rgb(25, 212, 0);
  font-size: .75rem;
  display: none;
  & > i {
    margin-right: .5rem;
  }
}
.LoginSuccessPassword {
    color: rgb(25, 212, 0);
    font-size: .75rem;
    // display: none;
    &>i {
      margin-right: .5rem;
    }
}

.RegisterDangerEmail {
  color: red;
  font-size: .75rem;
  display: none;
  
  &>i {
    margin-right: .5rem;
  }
}
.RegisterDangerEmailExists {
  color: red;
  font-size: .75rem;
  display: none;
  
  &>i {
    margin-right: .5rem;
  }
}
.RegisterSuccessEmail {
  color: rgb(25, 212, 0);
  font-size: .75rem;
  display: none;
  &>i {
    margin-right: .5rem;
  }
}
.RegisterSuccessPassword {
  color: rgb(25, 212, 0);
  font-size: .75rem;
  display: none;
  &>i {
    margin-right: .5rem;
  }
}
.RegisterSuccessPasswordBoth {
  color: rgb(25, 212, 0);
  font-size: .75rem;
  display: none;
  &>i {
    margin-right: .5rem;
  }
}
.RegisterDangerPasswordBoth {
  color: red;
  font-size: .75rem;
  display: none;
  &>i {
    margin-right: .5rem;
  }
}
.RegisterDangerPassword {
  color: red;
  font-size: .75rem;
  display: none;
  &>i {
    margin-right: .5rem;
  }
}

.hederStyle {
  font-size: 2.5rem;
  background: linear-gradient(to top right, rgb(157, 0, 248), rgb(55, 182, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Privacy-banner {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;

  @include mediaQuery(desktop1100) {
    height: 50vh;
    width: 100vw;
  }

  &-img {
    width: 100%;
    height: 100%;
    @include mediaQuery(tablet800) {
      height: 100%;
      width: auto;
    }
  }

  &-header {
    position: absolute;
    color: white;
    top: 10rem;
    left: 10rem;
    font-size: 3rem;
    @include mediaQuery(desktop1100) {
      top: 10rem;
      left: 2rem;
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
    @include mediaQuery(tablet800) {
      top: 7rem;
      left: 2rem;
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
  }
}

.Policy-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mediaQuery(desktop1100) {
    width: 100vw;
  }
  & > h2 {
    font-size: 2rem;
    margin: 1rem 0rem;
    padding: 0;
  }
  & > p {
    font-size: 1.2rem;
    width: 90%;
    text-align: justify;
    @include mediaQuery(desktop1100) {
      font-size: 1rem;
      margin: 0rem 0rem;
      padding: 0;
    }
  }
}

.Item-banner {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include mediaQuery(desktop1100) {
    height: 50vh;
  }

  & > img {
    width: 100%;
    @include mediaQuery(phone500) {
      width: auto;
      height: 100%;
    }
  }
}
.Item-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  &-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;

  @include mediaQuery(phone700) {
    font-size: 1.2rem;

    &>h1 {
      font-size: 1.5rem;
    }
  }

    &-text {
      width: 90%;
      display: initial;
      text-align: justify;

      &>img {
        width: 100%;
      }
    }
  }

  &-photos {
    width: 90%;
    text-align: center;
    // background-color: #0062a8;
  
    &-item {
      display: inline-block;
      width: 20rem;
      height: 20rem;
      margin: .5rem;
      border-radius: 15px;
      overflow: hidden;
      transition: all .5s ease-in-out;

      @include mediaQuery(phone700) {
        width: 15rem;
        height: 15rem;
        margin: .25rem;
      }
  
      &>img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  &-person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mediaQuery(phone600) {
      &>h1 {
        font-size: 1.2rem;
      }
    }

    &-img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid blue;
      @include mediaQuery(phone600) {
        width: 12rem;
        height: 12rem;
      }

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    &-contact {
      font-size: 1.2rem;
      & > ul {
        list-style-type: none;
        padding: 0rem;
        & > li {
          text-align: center;
          margin: .75rem 0rem;
          & > i {
            margin-right: .5rem;
          }
        }
      }
    }
  }
}

