.items {
  width: 100vw;

  &-headerdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    width: 100%;
    text-align: center;

    &-item {
      width: 20rem;
      height: 20rem;
      margin: 1rem;
      background-color: red;
      display: inline-block;
      overflow: hidden;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &-name {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.75rem;
        padding: 0.5rem;
        background-color: white;
        border-radius: 0px 0px 15px 0px;
        font-family: "Open Sans";
      }
      &-image {
        width: 100%;
        height: 100%;
        & > img {
          width: 100%;
          height: 100%;
        }
      }
      &-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem;
        font-size: 1.2rem;
        background-color: white;
        border-radius: 15px 0px 0px 0px;
      }
    }
  }
}

.gold-background {
  background: linear-gradient(to top right, #ffde5a, #ffd52d);
}
